@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

/* .div-container {
  border: 1px solid red;
  margin: 0px;
  padding: 0px;
  background-color: rgb(241, 241, 241);
  display: flex;
} */

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 12vw;
}

.circle-logo {
  padding-left: 2vw;
  width: 20vw;
  height: 10vh;
}

.link-button {
  /* border: 1px solid blue; */
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
  font-family: "Work Sans", sans-serif;
}

.links {
  padding: 6px;
}
